@model int

@{
    ViewData["Title"] = "Delete Confirmation";
}

<div class="row">
    <div class="col-4">
        <div class="alert alert-danger">Company deleted.</div>
        <a class="btn btn-link"
           asp-controller="Company"
           asp-action="List">
            Back To Companies
        </a>
    </div>
</div>
