@model Company

@{
    ViewData["Title"] = "Delete preview";
}

<div class="row justify-content-center">
    <div class="col">
        <partial name="_CompanyCard" model="Model" />
        <a class="btn btn-danger mr-3"
           asp-controller="Company"
           asp-action="DeleteConfirmation"
           asp-route-compId="@Model.CompanyId">
            Confirm Delete
        </a>
        <a class="btn btn-primary"
           asp-controller="Company"
           asp-action="List">
            Cancel
        </a>
    </div>
</div>
