@model IEnumerable<Employee>

@if (Model.Any())
{
    <div class="row">
        @foreach (var employee in Model)
        {
            <partial name="_EmployeeCard" model="employee" />
        }
    </div>
}
else
{
    <div>
        <a class="btn btn-primary"
           asp-controller="Employee"
           asp-action="Edit"
           asp-route-isEdit="false">Add first employee.</a>
    </div>
}