@model Company

@Html.HiddenFor(m => m.Employees)

<div class="row">
    <div class="col-4 offset-1">
        <form method="post" asp-action="Edit">
            <input type="hidden" asp-for="CompanyId" />
            <input type="hidden" asp-for="OwnerName" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
