@model Employee

    <div class="col-3 mb-3">
        <div class="card">
            <img src="~/img/executive.jpg" class="card-image" alt="executive">
            <div class="card-body">
                <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                <p class="card-text">@Model.Office</p>
            </div>
        </div>
    </div>
