@{
    ViewData["Title"] = "Delete Error";
}

<div class="row">
    <div class="col-4">
        <div class="alert alert-danger">@ViewBag.Message</div>
        <a class="btn btn-link"
           asp-controller="Diagram"
           asp-action="Chart">
            Go To Chart
        </a>
    </div>
</div>
