@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row">
    <div class="col-md-5 col-xl-4">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                    <button type="submit" class="btn btn-link pb-0 ml-3" asp-route-demo="true">Demo User</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-xl-6 col-md-6 offset-md-1 offset-xl-2">
        <h1 class="text-center mt-md-3 mt-xl-5">OrgChart</h1>
        <h3 class="text-center mt-md-3 mt-xl-5">Build easily the organizational chart of your company.</h3>
        <h3 class="mt-md-3 mt-xl-5">With OrgChart you can:</h3>
        <ul>
            <li>Build easily a graphical org chart of a company.</li>
            <li>Record important information of your employees: phone, email, office.</li>
            <li>View all employees in a list or search for a specific one.</li>
            <li>Create org charts of different companies.</li>
        </ul>
        <p></p>
    </div>
</div>

@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
