@model ChartList
<div class="col-sm-4 col-lg-4 col-md-4">
    <partial name="_EmployeeCard" model="Model.Manager" />
    @foreach (var employee in Model.Employees)
    {
    <partial name="_EmployeeCard" model="employee" />
    }
</div>
