@model Employee

<div class="row justify-content-center">
    <div class="col">
        <partial name="_EmployeeCard" model="Model" />
        <a class="btn btn-danger mr-3"
           asp-controller="Employee"
           asp-action="DeleteConfirmation"
           asp-route-empId="@Model.EmployeeId">
            Confirm Delete
        </a>
        <a class="btn btn-primary"
           asp-controller="Employee"
           asp-action="Chart">
            Cancel
        </a>
    </div>
</div>
