@model EmployeeWithFormPic

@{
    ViewData["Title"] = "Edit Employee";
}

<div class="row">
    <div class="col-4 offset-1">
        <form method="post" enctype="multipart/form-data" asp-action="Edit">
            <input type="hidden" asp-for="Employee.EmployeeId" />
            <input type="hidden" asp-for="Employee.CompanyId" />
            <input type="hidden" asp-for="Employee.ManagerId" />

            <div class="form-group">
                <label asp-for="Employee.FirstName"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Position"></label>
                <input asp-for="Employee.Position" class="form-control" />
                <span asp-validation-for="Employee.Position" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Employee.Email"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Phone"></label>
                <input asp-for="Employee.Phone" class="form-control" />
                <span asp-validation-for="Employee.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Office"></label>
                <input asp-for="Employee.Office" class="form-control" />
                <span asp-validation-for="Employee.Office" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormPicture"></label>
                <input asp-for="FormPicture" type="file" />
                <span asp-validation-for="FormPicture"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="col-3 align-self-center">
    </div>
</div>
