<div class="row">
    <div class="col-4">
        <div class="alert alert-danger">Sorry employee has subordinates so cannot be deleted.</div>
        <a class="btn btn-link" 
           asp-controller="Employee"
           asp-action="Chart">
            Go To Chart
        </a>
    </div>
</div>
