@model int

@{
    ViewData["Title"] = "Delete Confirmation";
}

<div class="row">
    <div class="col-4">
        <div class="alert alert-danger">Employee deleted.</div>
        <a class="btn btn-link"
           asp-controller="Diagram"
           asp-action="Chart"
           asp-route-empId="@Model">
            Back To Chart
        </a>
    </div>
</div>
